#admin.container
  #top-menu
    %ul
    - if @product.new_record?
      %li
        %a{:href=>"/admin"} Productos >
      %li
        %a{:href=>"#"} Nuevo
    - else
      %li
        %a{:href=>"/admin"} Productos >
      %li
        %a{:href=>"#"} #{@product.product_type.capitalize} >
      %li
        %a #{@product.name}

  #content
    .producto{:id => "#{@product.new_record? ? nil : 'producto-'+@product.id.to_s}"}
      .control.edit
        .activo
          %input{:type=>"checkbox", :name=>"activo", :checked=>true}
          %p Producto activo
        - unless @product.new_record?
          .eliminar
            = link_to 'Eliminar producto', @product, :confirm => 'Está seguro?', :method => :delete
      .nombre.field.edit
        %p.label Nombre
        %input{:type=>"text", :name=>"nombre", :value=>"#{@product.name}"}
      .codigo.field.edit
        %p.label C&oacute;digo
        %input{:type=>"text", :name=>"codigo", :value=>"#{@product.code}"}
      .tipo_producto.field.edit
        %p.label Tipo de Producto
        %select
          %option{:value=>"chapilla"} Chapilla
          // %option{:value=>"tablero"} Tablero
          // %option{:value=>"canto"} Canto
      .especificaciones.edit
        %p.label Especificaciones
        %ul
          %li.field.espesor
            %p.label Espesor
            %input{:type=>"text", :value=>"#{@product.specs['espesor']}"}
          %li.field.ancho
            %p.label Ancho
            %input{:type=>"text", :value=>"#{@product.specs['ancho']}"}
          %li.field.largo
            %p.label Largo
            %input{:type=>"text", :value=>"#{@product.specs['largo']}"}
          %li.field.humedad
            %p.label Contenido de humedad
            %input{:type=>"text", :value=>"#{@product.specs['humedad']}"}
      = render "imagenes_field"
    #guardar-producto
      %a{:href=>"#"} Guardar producto


=content_for(:stylesheets) do
  = stylesheet_link_tag 'css/admin.css', :media => 'screen'
  = stylesheet_link_tag 'uploadify/uploadify.css', :media => 'screen'
