#izquierda
  #izquierda-fondo
    .top &nbsp;
    .centro &nbsp;
    .bottom &nbsp;
    #contenido-zoom
      #zoom
        %img{:src=>""}
      #icono-hoja &nbsp;
      .nombre-producto
        %p#nombre-zoom Ebano
        %p#codigo-zoom cod TP-0100
#derecha
  #galeria
    #flecha-izq
      %p.prev &nbsp;
    #contenido-galeria
      .scrollable
        .items
          - containers= @products.size.modulo(6)==0 ? @products.size.div(6) : @products.size.div(6)+1
          - (containers).times do |i|
            .lista-container
              - 2.times do |j|
                %ul.lista-thumbs
                  - 3.times do |k|
                    - product= @products[(i*6)+(j*3)+k]
                    - if !product
                      - break
                    %li.thumb{:id=>"product-#{product.id}", :class=>"#{k==2 ? 'last' : nil}"}
                      %a{:href => "#"} 
                        %img{:src=>"/images/products/#{product.thumb_image}"}          

    #flecha-der
      %p.next &nbsp;
  #descripcion
    .info
      %h2 Chapilla madera decorativa
      %p 
        Para aplicaciones en acabados tales como cantos u otros,
        ofrecemos nuestra variedad de chapilla en diferentes
        especies como complemento ideal para el ebanista o carpintero en
        hojas de 250 x 64 cm y cantos prefabricados.
    #especs{:style => "display:none"}
      .spec 
        %p.label Ancho
        .datos
          %p.dato-1 64 cm 
          %p.dato-2 +&oacute;- 1 cm 
      .spec 
        %p.label Largo
        .datos
          %p.dato-1 250 mm 
          %p.dato-2 +&oacute;- 1 cm 
      .spec
        %p.label Espesor
        .datos
          %p.dato-1 0.60 mm 
          %p.dato-2 +&oacute;- 0.05mm
      .spec
        %p.label Contenido de Humedad
        .datos
          %p.dato-1 10%
          %p.dato-2 +&oacute;- 2%
    #abre-especs
      %a{:href => "#"} 
        %span Especificaciones
        %span.flechita.arriba &nbsp;

  #products-data{:style=>"display:none;"}
    - @products.each do |product|
      %div{:class=>"#{product.id}"}
        #zoom
          %img{:src=>"/images/products/#{product.zoom_image}"}
        #icono-hoja &nbsp;
        .nombre-producto
          %p#nombre-zoom #{product.name}
          %p#codigo-zoom #{product.code}

=content_for(:javascripts) do
  = jquery_plugin "tools/jquery.tools.min"
  = javascript_include_tag "app"
  :javascript
    $("#galeria .scrollable").scrollable();


=content_for(:stylesheets) do
  = stylesheet_link_tag 'css/chapillas.css', :media => 'screen'
