!!! Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  = render "shared/head"
  %body
    = yield :layout
    = render "shared/javascripts"
    = yield :javascripts
    = javascript_include_tag "thirdparty/jquery/uploadify/swfobject.js"
    = javascript_include_tag "thirdparty/jquery/uploadify/jquery.uploadify.v2.1.4.min"
    %script{:src => "/javascripts/admin.js", :type =>"text/javascript"}

